{
  "log": { "loglevel": "warning" },
  "inbounds": [
    { "tag": "socks-in", "listen": "0.0.0.0", "port": 1080, "protocol": "socks", "settings": { "auth": "noauth" } }
  ],
  "outbounds": [
    {
      "tag": "blackwire-out",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "${EXTERNAL_SERVER_ADDRESS}",
            "port": 10080,
            "users": [
              { "id": "${VLESS_UUID}", "encryption": "none", "flow": "" }
            ]
          }
        ]
      }
    }
  ]
}

