{
  "log": { "loglevel": "warning" },
  "inbounds": [
    { "tag": "socks-in", "listen": "0.0.0.0", "port": 1080, "protocol": "socks", "settings": { "auth": "noauth", "udp": true } }
  ],
  "outbounds": [
    {
      "tag": "blackwire-out",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "${EXTERNAL_SERVER_ADDRESS}",
            "port": 10081,
            "users": [
              { "id": "${VLESS_UUID}", "encryption": "none", "flow": "" }
            ]
          }
        ]
      },
      "mux": { "enabled": true, "concurrency": 8 }
    }
  ]
}
