{
  "log": { "level": "warn" },
  "inbounds": [
    { "type": "socks", "tag": "socks-in", "listen": "0.0.0.0", "listen_port": 1080 }
  ],
  "outbounds": [
    {
      "type": "vless",
      "tag": "blackwire-out",
      "server": "${EXTERNAL_SERVER_ADDRESS}",
      "server_port": 8448,
      "uuid": "${VLESS_UUID}",
      "tls": { "enabled": true, "server_name": "${EXTERNAL_TLS_SERVER_NAME}", "insecure": true },
      "transport": {
        "type": "http",
        "path": "/split",
        "method": "PUT",
        "host": ["${EXTERNAL_TLS_SERVER_NAME}"]
      }
    }
  ],
  "route": { "final": "blackwire-out" }
}
