{
  "log": { "level": "warn" },
  "inbounds": [
    {
      "type": "socks",
      "tag": "socks-in",
      "listen": "::",
      "listen_port": 1080,
      "network": "tcp,udp"
    }
  ],
  "outbounds": [
    {
      "type": "vless",
      "tag": "blackwire-out",
      "server": "${EXTERNAL_SERVER_ADDRESS}",
      "server_port": 10081,
      "uuid": "${VLESS_UUID}",
      "network": "tcp,udp",
      "packet_encoding": "xudp"
    }
  ]
}
